@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Roboto-Thin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-family: 'Roboto';
}

.code-style {
  font-family: 'Courier New', Courier, monospace;
}


html {
  font-family: 'Roboto';
}

.navigation {
  background: rgba(0, 0, 0, 0.918);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  overflow: hidden;
  transition: left 0.3s;
  width: 45%;
  z-index: 100;
  padding: 100px;
}

.navigation h1, .navigation h1 a {
  color: #fff;
  width: 100%;
  font-size: 16px;
  text-align: center;
  z-index: 101;
  
}

.navigation h1 a {
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navigation h1 a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.toggle-button {
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
  margin-top: 10px;
}

.toggle-button .wolverine {
  display: inline-block;
  height: 26px;
  padding: 0px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  opacity: 0.97;
  transition: all 0.3s ease;
}

.toggle-button .wolverine span {
  display: inline-block;
  text-transform: uppercase;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-left: 0px;
  width: 0px;
  overflow: hidden;
}

.toggle-button .wolverine .claws {
  position: relative;
  top: -2px;
  width: 20px;
  height: 4px;
  background-color: rgb(63 63 70);
  display: inline-block;
}

.toggle-button .wolverine .claws:before, .toggle-button .wolverine .claws:after {
  display: block;
  content: "";
  height: 4px;
  width: 20px;
  background-color: rgb(63 63 70);
  position: absolute;
  z-index: -1;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s 0.2s, -webkit-transform 0.2s ease;
  -webkit-transition-delay: ease, 0s;
  transition: all 0.1s 0.2s ease, transform 0.2s ease;
}

.toggle-button .wolverine .claws:before {
  top: 8px;
}

.toggle-button .wolverine .claws:after {
  top: -8px;
}

.nav-control {
  position: absolute;
  left: -9999px;
  width: 100%;
  clip: rect(0, 0, 0, 0);
}

.nav-control:checked ~ .navigation {
  left: 0;
  opacity: 1;
  transition: left 0.3s, opacity 0.3s;
}

.nav-control:checked ~ .navigation ul li {
  opacity: 1;
  transform: translateX(0);
}

.nav-control:checked ~ .toggle-button .wolverine .claws {
  -webkit-transition: all 0.1s 0s;
  -webkit-transition-delay: ease;
  transition: all 0.1s 0s ease;
  background: transparent !important;
  z-index: 101;
}

.nav-control:checked ~ .toggle-button .wolverine .claws:before, .nav-control:checked ~ .toggle-button .wolverine .claws:after {
  background-color: rgb(63 63 70);
  -webkit-transition: all 0.1s ease, -webkit-transform 0.1s 0.2s;
  -webkit-transition-delay: 0s, ease;
  transition: all 0.1s ease, transform 0.1s 0.2s ease;
  top: 0;
  width: 20px;
}

.nav-control:checked ~ .toggle-button .wolverine .claws:before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.nav-control:checked ~ .toggle-button .wolverine .claws:after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.shadow-block {
  box-shadow: 10px 8px 12px #4343444a;
}


.contact-img {
  max-width: 600px;
  width: 95%;
  margin: 20px auto;
}

@media (max-width: 640px) {
  .main-img {
    width: 300px;
  }

  .main-bg-slate {
    height: 500px;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  p {
    font-size: smaller;
  }

  .main-icons {
    margin-top: -25px
  }
  
}

@media (max-width: 640px) {
  .main-content {
    width: 390px;
  }

  p {
    font-size: smaller;
    width: 85%;
    margin: auto;
  } 
  
  .main-lg-text {
    font-size:38px!important;
    margin: 0px!important;
  }
  .block-on-top {
    margin-top: -105px;
  }
  .block-on-bottom {
    margin-top: -85px;
  }

  .main-cards {    
    width: 350px;
    justify-content: center;
    margin: 0px;
  }
  .main-brief {
    display: none;
    width: 300px;
    justify-content: center;
    margin: 0px;
  }

  .main-form {
    width: 360px;
    justify-content: center;
    margin: 0px;
  }

  .main-form-block {
    width: fit-content;
  }

  .main-form-item {
    margin-top: 20px;
    width: 300px;
  }

  .main-form-item > input {
    border: none
  }
}

@media (max-width: 840px) {
  .main-content {
    width: 390px;
  }
  .contact-content {
    flex-wrap: wrap-reverse;
  }
}
