@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  @apply w-full px-8 md:px-16 lg:px-24 max-w-[1450px] mx-auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
  font-size: 16px;
}

input,
textarea,
select,
button {
  @apply appearance-none
         bg-transparent
         border-none
         outline-none
         focus:outline-none
         focus:ring-0;
}

/* (Optional) If you still want a common placeholder color: */
input::placeholder,
textarea::placeholder {
  @apply text-zinc-600 text-sm font-normal;
}
