{% extends 'base.html' %}

{% block style %} <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}"> {% endblock %}

{% block content %}
    

    <div class="relative">
        <div class="mx-auto">

                           
            <div class="portfolio_block">

                <div class="brief_content bg-slate-800">
                    <div><h1 class='text-uppercase'>Diana Matkava</h1></div>
                    <div><h2 class='text-uppercase'>Software Developer</h2></div>
                    <div class="img"><img src="./static/img/girl.jpg" alt="My Photo"></div>
                    <div class="myskills"><h2>Skills</h2>
                        <ul>
                            <p class='text-center mb-[-10px]'><span class="grey text-uppercase text-sm text-zinc-50 text-semibold">Backend</span><br>
                                <li>
                                    <span class='border'>Python</span>
                                    <span class='border'>OOP</span>
                                    <span class='border'>Django</span>
                                    <span class='border'>ORM</span>
                                    <span class='border'>Flask</span>
                                    <span class='border'>SQLAlchemy</span>
                                    <span class='border'>Celery</span>
                                </li>
                            <p class='text-center mb-[-10px]'><span class="grey text-uppercase text-sm text-zinc-50 text-semibold">Python libraries</span><br>
                                <li>
                                    <span class='border'>Numpy</span>
                                    <span class='border'>Pandas</span>
                                    <span class='border'>Matplotlib</span>
                                    <span class='border'>Seaborn</span>
                                    <span class='border'>Selenium</span>
                                    <span class='border'>Beautifulsoup4</span>
                                </li>
                            <p class='text-center mb-[-10px]'><span class="grey text-uppercase text-sm text-zinc-50 text-semibold">Frontend</span><br>
                                <li>
                                    <span class='border'>JavaScript</span>
                                    <span class='border'>TypeScript</span>
                                    <span class='border'>Angular</span>
                                    <span class='border'>HTML</span> 
                                    <span class='border'>CSS</span> 
                                    <span class='border'>Sass</span> 
                                    <span class='border'>Bootstrap4/5</span> 
                                    <span class='border'>Tailwind</span> 
                                </li>

                            <p class='text-center mb-[-10px]'><span class="grey text-uppercase text-sm text-zinc-50 text-semibold">API</span><br>
                                <li>
                                    <span class='border'>DRM</span> 
                                    <span class='border'>REST API</span> 
                                    <span class='border'>GraphQL</span> 
                                </li>
                            <p class='text-center mb-[-10px]'><span class="grey text-uppercase text-sm text-zinc-50 text-semibold">DB</span><br>
                                <li>
                                    <span class='border'>SQL</span>
                                    <span class='border'>Postgres</span>
                                </li>
                        
                            <p class='text-center mb-[-10px]'><span class="grey text-uppercase text-sm text-zinc-50 text-semibold">Other</span><br>
                                <li>
                                    <span class='border'>GIT</span>
                                    <span class='border'>Bitbucket</span>
                                    <span class='border'>GitLab</span>
                                    <span class='border'>Docker</span>
                                    <span class='border'>Docker Compose</span>
                                    <span class='border'>Linux</span>
                                    <span class='border'>bin/bash</span>
                                    <span class='border'>Lucidcharts</span>
                                    <span class='border'>Confluence</span>
                                    <span class='border'>Jira</span>
                                </li>
                        </ul>
                    </div>
                    
                    <div class="skills">
                        <h2>Certifications</h2>
                        <ul class='list-group w-82 break-keep'>
                            <a style='' class=' whitespace-nowrap -decoration-none list-item' href="{{url_for('static', filename='doc/en-stepik-certificate-67-3a17e37.pdf')}}" target="_blank"><li>Python Programming Certificate</li></a>
                            <a class=' text-decoration-none list-item break-keep' href="#"><li style='white-space:nowrap'>Python Programming Certificate (HSE)</li></a>
                            <a class='text-decoration-none list-item break-keep' href="https://www.efset.org/cert/xVrnnL" target="_blank"><li>EF SET Certificate (C1 ADVANCEDD)</li></a>
                        </ul>
                    </div>
                    <div class="skills">
                        <h2>Languages</h2>
                        <ul class="languages">
                            <li><span class='border'>English</span> C1 Advanced</li>
                            <li><span class='border'>German</span> Beginner</li>
                            <li><span class='border'>Georgian</span> Native</li>
                            <li><span class='border'>Ukraine</span> Native</li>
                            <li><span class='border'>Russian</span>Trying to forget</li>
                        </ul>
                    </div>
                    <div class="link"><h2>Contacts</h2>
                        <p><span class="grey icon-linkedin-1"><a href="https://www.linkedin.com/in/diana-matkava-7b7302227/" target="_blank">LinkedIn</a></span><br><br>
                            <span class="grey icon-github-circled-1"><a href="https://github.com/dianaGera" target="_blank">GitHub</a></span><br><br>
                            <span class="grey icon-instagram"><a href="https://www.instagram.com/diana_gera_/" target="_blank">Instagram</a></span><br><br>
                            <span class="grey icon-google-1"><a href="mailto:diana.matkava.pr@gmail.com" target="_blank">diana.matkava.pr@gmail.com</a></span></p>
                    </div>
                </div>
                <div class="portfolio_content"> <!-- style='margin-left: 100px' -->
                <div class='intro'>
                    <h1 class='text-3xl uppercase'>Diana Matkava</h1>
                    <h1 class='text-lg uppercase'>Software Developer</h1>
                </div>
                    <h2>About Me</h2>
                    <section>
                            
                            <p><span class="grey">Location: Berlin, Germany</span><br>
                            <span class="grey">Age: 23</span></p>
                    
              
                        <p>I'm a Fullstack Developer specialized in writing server side web application logic, develop, debug and implement application projects, automation and creating API's using Django, Flask (REST API, GraphQL) web framework as part of backend side. 
                          <br><br>
                          I have good knowledge in JavaScript, TypeScript & Angular, CSS frameworks like Bootstrap4/5 and Twilight, and actively use preprocessor Sass
                          <br><br>
                          Have knowledge on version control system GIT, CI/CD, Atlassian infrastructure and familiar with Docker<br><br>
                          Have deep knowledge in creating SQL queries
                        </p>
                        <p> 
                            <span class="grey icon-linkedin-1 underline"><a href="https://www.linkedin.com/in/diana-matkava-7b7302227/" target="_blank">LinkedIn</a></span><br>
                            <span class="grey icon-github-circled-1 underline"><a href="https://github.com/dianaGera" target="_blank">GitHub</a></span><br>
                            <span class="grey icon-instagram underline"><a href="https://www.instagram.com/diana_gera_/" target="_blank">Instagram</a></span><br>
                            <span class="grey icon-google-1 underline"><a href="mailto:diana.matkava.pr@gmail.com" target="_blank">diana.matkava.pr@gmail.com</a></span><br><br>
                            <!--<span class="grey icon-linkedin-1 underline"><a href="http://diana-gera.herokuapp.com/" target="_blank">Personal web page</a></span>-->
                        </p>
                    </section>
                    <h2>Work Experience</h2>
                    <section>
                        <h3 class='font-semibold text-xl'><a class='underline' href='https://www.hardskills.com/'>HARDSKILLS</a></h3>
                        <p>Software Developer<br>
                            <span class="grey">May 2022 - Present</span><br>
                            <span class="grey">Berlin, Germany</span>
                        </p>
                        <p class='italic text-sm mt-[-10px]'>The company specializes in teaching critical soft skills. <br>
                            A B2B company that has worked with companies such as SAP, TATA Tele, PwC and many more.</p>
                        <p class='font-semibold mb-1'>TECH STACK</p>
                        <ul class='mb-6'>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>Back:</span></div>
                                    <div class='m-1'>Python, Django</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>Front:</span></div>
                                    <div class='m-1'>Angular&Typescript, JavaScript, HTML, CSS, Tailwind</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>APIs:</span></div>
                                    <div class='m-1'>REST, DRF</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>DB:</span></div>
                                    <div class='m-1'>Postgres, SQL</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>Other:</span></div>
                                    <div class='m-1'>Git, Docker, Bitbucket, Confluence, Jira, Lucidchart</div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <ul>
                                <li class='list-disc ml-8'>Here I gained experience in creating clean code APIs for managing and delisting students.</li>
                                <li class='list-disc ml-8'>Worked with third party software like Northpass, Typeforme, Highcharts.</li>
                                <li class='list-disc ml-8'>Worked on updating and debugging the front-end using Angular&Typescript.</li>
                                <li class='list-disc ml-8'>Provided the overall database audit to determine the vulnerabilities and bugs in company's application. Used a lot of complex SQL queries and xls.</li>
                                <li class='list-disc ml-8'>Worked on automating the generation of reports (including diagrams) for each client and student.</li>
                                <li class='list-disc ml-8'>Worked on generating Quality Check reports.</li>
                            </ul>
                        </ul>

                    </section>
                    <section>
                        <h3 class='font-semibold text-xl'>RockLab</h3>
                        <p>Python Backend Developer<br>
                            <span class="grey">Nov 2021 - Apr 2022 (6 month)</span><br>
                            <span class="grey">Kharkov, Ukraine</span>
                        </p>
                        <p class='italic text-sm mt-[-10px]'>RockLab is an outsourcing company.</p>
                        <p class='font-semibold mb-1'>TECH STACK</p>
                        <ul class='mb-6'>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>Back:</span></div>
                                    <div class='m-1'>Python, Django</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>Front:</span></div>
                                    <div class='m-1'>JavaScript, HTML, CSS, SCSS Bootstrap4/5</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>APIs:</span></div>
                                    <div class='m-1'>REST, GraphQL</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>DB:</span></div>
                                    <div class='m-1'>Postgres</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-16'><span class='my-1 float-right font-semibold'>Other:</span></div>
                                    <div class='m-1'>Git, GitLab, Docker</div>
                                </div>
                            </li>
                        </ul>
                        <ul>As part of this company, I worked on three projects:
                            <ul><a class='underline block mt-4 mb-[-10px]' href='https://www.traveller.ee/'><b>Traveller</b></a>:
                                <li class='list-disc ml-8'>Customized the admin panel</li>
                                <li class='list-disc ml-8'>Created analysis dashboard (upcomming warnings/errors)</li>
                                <li class='list-disc ml-8'>Updated, debuged and implemented new features to fasilitate management (tracking) of tourist vehicles for commpany's staff. </li>
                                <li class='list-disc ml-8'>Customized GoogleOAuth middleware.</li>
                            </ul>
                            <ul><a class='underline block mt-4 mb-[-10px]' href='https://dasmio.com/'><b>DASMIO</b></a>:
                                <li class='list-disc ml-8'>Internal project where I worked on building a GraphQL APIs </li>
                                <li class='list-disc ml-8'>Creating flush messages system</li>
                            </ul>
                            <ul><a class='underline block mt-4 mb-[-10px]' href='https://www.2checkout.com/'><b>2checkout</b></a>:
                                <li class='list-disc ml-8'>For internal company purpose I activated and set up the 2Checkout payment system. </li>
                                <li class='list-disc ml-8'>Created custom subscriptions, subscription plans</li>
                                <li class='list-disc ml-8'>Created cancellation policy and migration between subscriptions policy</li>
                            </ul>
                        </ul>
                        
                    </section>


                    <h2>Professional Education</h2>
                    <section>
                        <h3 class='font-semibold'>Higher School of Economics</h3>
                        <p><a href="https://www.coursera.org/learn/python-osnovy-programmirovaniya" target="_blank">Python Programming Course</a><br>
                            <span class="grey">May 2021 - Jul 2021</span><br>
                            <span class="grey">Grade: 92</span></p>
                        <p>With the help of this course, I learned the basics of designing the Python language, learned how to handle the Python standard library, and got acquainted with the basics of various programming paradigms: procedural, functional, and object-oriented programming.</p>
                    </section>
                    <section>
                        <h3 class='font-semibold'>Bioinformatics Institute</h3>
                        <p><a href="https://stepik.org/course/512/syllabus" target="_blank">Python Programming Course</a><br>
                            <span class="grey">Mar 2021 - May 2021</span><br>
                            <span class="grey">Grade: 98</span></p>
                        <p>With the help of this course, I got acquainted with the basic concepts of programming. Many practical tasks related to the creation of algorithms, the use of basic methods, have been completed. Studied Python syntax, working with files. With the help of this course, I got acquainted with the basic concepts of programming. Many practical tasks related to the creation of algorithms, the use of basic methods, have been completed. Studied Python syntax, working with files</p>
                    </section>
                    <section>
                        <h3 class='font-semibold'>University of Michigan</h3>
                        <p><a href="https://www.coursera.org/learn/django-database-web-apps?=" target="_blank">Web Application Technologies and Django</a><br>
                            <span class="grey">Jun 2021 - Jul 2021</span></p>
                        <p>In this course, I learned the basic structure of a web application and how a web browser interacts with a web server. I've become familiar with the Hypertext Transfer Protocol (HTTP) request/response cycle, including GET/POST/Redirect. Studied basic HTML tags, Django application structure. Understanding the concept of the Model-View-Controller (MVC) pattern for web applications and how it relates to Django.</p>
                    </section>
                    <section>
                        <h3 class='font-semibold'>The Johns Hopkins University</h3>
                        <p><a href="https://www.coursera.org/learn/html-css-javascript-for-web-developers" target="_blank">HTML, CSS, and Javascript for Web Developers</a><br>
                            <span class="grey">Jun 2021 - Jul 2021</span></p>
                        <p>Learned basic of HTML and CSS rules.</p>
                    </section>
              

                    <h2>Education</h2>
                    <section>
                        <h3 class='font-semibold'>Kharkiv National University of Economics</h3>
                        <p>Faculty of International Economics<br>
                            <span class="grey">Sep 2019 - Feb 2022</span><br>
                            <span class="grey">Bachelor</span></p>
                    </section>
              
                    <h2>Certifications</h2>
                    <section>
                        <h3><a class='font-semibold' href="{{url_for('static', filename='doc/en-stepik-certificate-67-3a17e37.pdf')}}" target="_blank">Python Programming Certificate (Pdf)</a></h3>
                        <p>Bioinformatics Institute<br>
                            <span class="grey">May 2021</span><br>
                    </section>
                    <section>
                        <h3><a class='font-semibold' href='#'>Python Programming Certificate</a> </h3>
                        <p>Higher School of Economics<br>
                            <span class="grey">Jun 2021</span><br>
                    </section>
                    <section>
                        <h3><a class='font-semibold' href="https://www.efset.org/cert/xVrnnL" target="_blank">EF SET Certificate (C1 ADVANCED)</a><span><a href="{{url_for('static', filename='doc/EF SET Certificate.pdf')}}">(Pdf)</a></span></h3>
                        <p>63/100 (C1 ADVANCED)<br>
                            <span class="grey">Nov 2022</span><br>
                    </section>


                    <!-- <div style=''>
                        <h2>Languages</h2>
                        <ul class="languages">
                            <li>
                                <div class='flex'>
                                    <div class='w-28'><span class='border my-1 float-right'>English</span></div>
                                    <div class='my-3'>C1 Advanced</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-28'><span class='border my-1 float-right'>German</span></div>
                                    <div class='my-3'>Beginner</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-28'><span class='border my-1 float-right'>Georgian</span></div>
                                    <div class='my-3'>Native</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-28'><span class='border my-1 float-right'>Ukraine</span></div>
                                    <div class='my-3'>Native</div>
                                </div>
                            </li>
                            <li>
                                <div class='flex'>
                                    <div class='w-28'><span class='border my-1 float-right'>Russian</span></div>
                                    <div class='my-3'>Trying to forget</div>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
              </div>

        </div>
    </div>

{% endblock %}
