<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tailwind.css')}}">
    {% block style %} {% endblock %}
    <title>{{title}}</title>
</head>
    
<body class="max-w-6xl mx-auto" >

    <header>

        <div class="relative bg-white">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 mr-9">
                <div class="flex justify-between items-center py-4 xs:justify-start md:space-x-10">
                    <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="{{url_for('home')}}">
                        <img class="h8 w-auto sm:h-10 h-7 w-18" src="./static/img/logo.png" alt="Logo">
                    </a>
                    </div>
                        <nav class="hidden md:flex space-x-10">
                            <a href="{{url_for('home')}}" class="hover:text-gray-700 hover:border-violet-300 text-base font-slim border-b-2 border-violet-800 leading-7"> Home </a>
                            <a href="{{url_for('about')}}" class="hover:text-gray-700 hover:border-violet-300 text-base font-slim border-b-2 border-white leading-7"> About </a>
                            <a href="{{url_for('contact')}}" class="hover:text-gray-700 hover:border-violet-300 text-base font-slim border-b-2 border-white leading-7"> Contact </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
  
    </header>
    <div class="menu-icon">
        <input type="checkbox" id="nav-control" class="nav-control" >
        <label for="nav-control" class="toggle-button">
            <div class="wolverine">
                <div class="claws"></div> <span>menu</span>
            </div>
        </label>
        <nav class="navigation">

            <h1><a href="{{url_for('home')}}">Home</a></h1>
            <h1><a href="{{url_for('about')}}">About</a></h1>
            <h1><a href="{{url_for('contact')}}">Contact</a></h1>
        
        </nav>

    {% block content %}{% endblock %}
    <footer>
        <div class="relative">
            <div class="main-bg-slate container mx-auto bg-slate-700 rounded-md pt-9" style="height: 150px">
                <div class="flex w-fit m-auto main-icons">
                    <a href="https://github.com/dianaGera" class="text-center m-4"><i class="fa-brands fa-github text-white text-[28px]"></i></a>
                    <a href="https://www.linkedin.com/in/diana-matkava-7b7302227/" class="text-center m-4"><i class="fa-brands fa-linkedin text-white text-[28px]"></i></a>
                    <a href="https://twitter.com/DianaDassler" class="text-center m-4"><i class="fa-brands fa-twitter text-white text-[28px]"></i></a>
                    <a href="https://www.instagram.com/diana_gera_/" class="text-center m-4"><i class="fa-brands fa-instagram text-white text-[28px]"></i></a>
                </div>
                <p class="uppercase text-white font-thin text-center">PLEASE FOLLOW ME ONSOCIAL MEDIASO WE CAN KEEP IN TOUCH.</p>
            </div>
            
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/c9a19db785.js" crossorigin="anonymous"></script>
</html>
