<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tailwind.css">
    <title>Home</title>
</head>
    
<body class="max-w-6xl mx-auto" >

    <header>

        <div class="relative bg-white">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 mr-9">
                <div class="flex justify-between items-center py-4 xs:justify-start md:space-x-10">
                    <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="#">
                        <img class="h8 w-auto sm:h-10 h-7 w-18" src="./static/img/logo.png" alt="Logo">
                    </a>
                    </div>
                        <nav class="hidden md:flex space-x-10">
                            <a href="#" class="hover:text-gray-700 hover:border-violet-300 text-base font-slim border-b-2 border-violet-800 leading-7"> Home </a>
                            <a href="#" class="hover:text-gray-700 hover:border-violet-300 text-base font-slim border-b-2 border-white leading-7"> About </a>
                            <a href="#" class="hover:text-gray-700 hover:border-violet-300 text-base font-slim border-b-2 border-white leading-7"> Contact </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
  
    </header>

    <div class="menu-icon">
        <input type="checkbox" id="nav-control" class="nav-control" >
        <label for="nav-control" class="toggle-button">
            <div class="wolverine">
                <div class="claws"></div> <span>menu</span>
            </div>
        </label>
        <nav class="navigation">

            <h1><a href="#">Home</a></h1>
            <h1><a href="#/about">About</a></h1>
            <h1><a href="#">Contact</a></h1>
        
        </nav>
    
    

    <div class="relative">
        <div class="mx-auto px-4 sm:px-6">

                           
            <div class="flex items-center justify-start bg-white my-[10px] contact-content">

                <div class="contact-img m-6">
                    <img src="./static/img/stack.jpg" alt="IMG" class="rounded-sm contact-img">
                </div>


                <div class="mx-auto w-full max-w-lg main-form">
                    <h1 class="text-4xl font-medium text-center p-6">Contact with me</h1>
                    <p class="text-center">Let's cooperate</p>
                
                    <form action="" class="mt-12 ">
                        <div class="m-auto main-form-block">
                        <div class="relative z-0 ">
                            <input type="text" name="name" class="main-form-item peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
                            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Your name</label>
                        </div>
                        <div class="relative z-0">
                            <input type="text" name="email" class="main-form-item peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
                            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Your email</label>
                        </div>
                        <div class="relative z-0 col-span-2">
                            <textarea name="message" rows="5" class="main-form-item peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" "></textarea>
                            <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Your message</label>
                        </div>
                        </div>
                        <p class="mt-3 text-xs">Email me at dianamatkava@gmail.com or message here:</p>
                        <button type="submit" class="mt-9 rounded-md bg-black px-10 py-2 text-white">Send Message</button>
                    </form>
                </div>


            </div>

        </div>
    </div>


    <footer>
        <div class="relative">
            <div class="main-bg-slate container mx-auto bg-slate-700 rounded-md pt-9" style="height: 150px">
                <div class="flex w-fit m-auto main-icons">
                    <a href="" class="text-center m-4"><i class="fa-brands fa-github text-white text-[28px]"></i></a>
                    <a href="" class="text-center m-4"><i class="fa-brands fa-linkedin text-white text-[28px]"></i></a>
                    <a href="" class="text-center m-4"><i class="fa-brands fa-twitter text-white text-[28px]"></i></a>
                    <a href="" class="text-center m-4"><i class="fa-brands fa-instagram text-white text-[28px]"></i></a>
                </div>
                <p class="uppercase text-white font-thin text-center">PLEASE FOLLOW ME ONSOCIAL MEDIASO WE CAN KEEP IN TOUCH.</p>
            </div>
            
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/c9a19db785.js" crossorigin="anonymous"></script>
</html>
