{% extends 'base.html' %}

{% block content %}
    
    <div class="relative">
        <div class="mx-auto px-4 sm:px-6">

                           
            <div class="flex items-center justify-start bg-white my-[10px] contact-content">

                <div class="contact-img m-6">
                    <img src="./static/img/stack.jpg" alt="IMG" class="rounded-sm contact-img">
                </div>


                <div class="mx-auto w-full max-w-lg main-form">
                    {% include 'contact-form.html' %} 
                </div>


            </div>
           
        </div>
    </div>

{% endblock %}